<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Detail</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
</head>
<body>
<h1>Product Detail</h1>
<div>
    <p>Name: <span th:text="${product.name}">Product Name</span></p>
    <p>Description: <span th:text="${product.description}">Product Description</span></p>
    <p>Price: <span th:text="${product.price}">Product Price</span></p>
    <p>Release Date: <span th:text="${product.releaseDate}">Product Release Date</span></p>
</div>
</body>
</html>